<div class="px-10">
    <%= @user.email%><br>
    <img src="" class="h-[200px] w-[200px]">
    <div class="flex flex-row">
        
        <div class="flex flex-row ">followers:<div id="followers_count"><%= @user.followers.count%></div></div>
        <div class="flex flex-row ml-5">followings:<div id="following_count"><%= @user.following.count%></div></div>
    </div>
    <% if !(@user.id == current_user.id)%> <%= render "follow_button", user: @user%> <%end%>
    

<%if !(@user.posts.empty?)%>
    <div class="mt-5">user posts:</div>
    <div class=" w-[700px] flex flex-row ">
    
        <% @user.posts.each do |post|%>
            <div><%= image_tag post.image_url, class:"h-[150px] w-[150px] ml-3 mt-2"%></div>
        <%end%>
    <%end%>
    </div>
</div>