<%= form_with model: post do |form| %>
  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
  <div>
    <%= form.label :image %><br>
     <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
