<div class="w-[500px] m-auto mt-16">
    <% if !post.archived?%>

    <div class="px-2""><%= post.user.username%></div>


    <div ><%= image_tag post.image_url, class:"h-[500px] w-[500px] rounded-[6px] mt-3"%>


     <div class="mt-3 px-2">
        <div class=" flex flex-row h-[42px]">
            <img src="/assets/like.png" class="w-[40px] h-[40px] "></img>
        </div>    
            <div class="font-bold">Нравиться: 1000</div>
            <div class="flex mt-2">
                <div class="font-bold">
                    <%= post.user.username%>
                </div> 
                <%= link_to post.body, post, class:" ml-1" %> 
            </div>    
            <div class="text-gray-500 mt-1">Посмотреть все комментарии (21)</div>
            <div class="text-gray-500 mt-1 text-[13px]"><%= post.created_at%>.</div>
    </div>
    <% end %>
</div>