<%= image_tag @post.image_url, :style => "height: 500px;width:500px"%>
<p><%=@post.body%></p>

<div class="flex flex-row ">
<%= button_to "Like", like_post_path(@post), remote: true, method: :post, id: "like_button" %>
	<div id="like-count"  data-post-id="<%= @post.id %>"><%= @post.liked_users.count  %></div>

</div>
<%if @post.author?(current_user)%>

    <%= link_to "Edit", edit_post_path %>
    <%= link_to "Destroy", post_path(@post), data:{ turbo_method: :delete, turbo_confirm: "You realy want to delete this"} %>
<%end%>
<br>
<%= link_to "Back", posts_path %>
<h2>Comments:</h2>
<%= render @post.comments %>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>
